
body{

  background-image: url(../img/ring.jpeg);
    background-color: black;
    background-repeat: no-repeat ;
    background-size: contain;

}

h1{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: white;
}

#playerRscores{

}
#timer{

}

#round{

}




#kb {
    height: 500px;
    float: left;
}


#kr {
    height: 500px;
    float: right;
}

.numPlayers{
  background-color: #2e2e2ea3;
  color: black;
  opacity: 90%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  margin-inline-start: 500px;
  cursor: pointer;
  position: absolute;
  z-index: 3;
}


  #one{
  display: block;
  height: 100px;
  width: 300px;
  background-color: #2196f3;
  color: black;
  opacity: 70%;
  }

  #one:hover{
  background-color: #f44336;
  color: white;
  opacity: 50%
  }


  #two{
  display: block;
  height: 100px;
  width: 300px;
  background-color: #2196f3;
  color: black;
  opacity: 70%;
  }

  #two:hover{
  background-color: #f44336;
  color: white;
  opacity: 50%
  }


#typebox{
  display: inline-block;
    height: 300px;
    width: 700px;
    border: 6px solid black;
    padding-left: ;
    margin-left: 325px;
}
