
body{
    background-color: black;

}

.wrapper{
  position: relative;
}

.column {
  float: left;
  width: 29%;
  padding: 10px;
  height: 500px;
  border: 13px ;

}

.scoreboard{
  position: relative;
  z-index: 1;
  border: 10px red dashed;
 height: 8em;
 margin-bottom: 1em;
 margin-top: 2em;
}

.ring{
   background-image: url(../img/ring.jpeg);
  z-index: 1;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50em;

  margin-right; 2em;
  margin-top: 2em;
  position: relative;
 }



h1{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  color: white;
  position: relative;
  z-index: 1;
  margin: 0;

}

h2{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  color: white;
  position: relative;
  z-index: 3;
    margin: 0;
}

#playerBscores{
  WIDTH: 200px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 4;
  background-color: blue;
}

#playerRscores{
  float: right;
  background-color: #d91313a3;
  opacity: 20px;
  WIDTH: 200px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 4;
}

#timer{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  color: white;
  margin: 8px;
  padding: 12px;
  border: 12px solid;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}


/* #round{
  background-color: #d91313a3;
  opacity: 20px;
  WIDTH: 200px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 4;
  margin: 8px;
  padding: 12px;
  border: 12px solid;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
} */


#kb {

    z-index: 5;
    height: 30em;
    top: 400px;
    position: absolute;
    left: 1%
}

#kr {
      z-index: 5;
      height: 30em;
      width: 25em;
      position: absolute;
      left: 75%;
  top: 400px;
}



#phrasebox{
    background-color: #0e1524e8;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    z-index:20;
    border: white;
    height: 3em;
    width: 50%;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#usertypingbox{
  background-color: #0e1524e8;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  z-index:20;
  border: white;
  height: 3em;
  width: 50%;
  align-content: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

}

#numPlayers{
background-color: #9581819e;
color: white;
padding: 0 75px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
z-index: 25;
position: fixed;
margin-inline-start: 450px;

}


#one{
  display: block;
  height: 100px;
  width: 300px;
  background-color: #2196f3;
  color: black;
  opacity: 70%;
  }

  #one:hover{
  background-color: #f44336;
  color: white;
  opacity: 50%
  }


  #two{
  display: block;
  height: 100px;
  width: 300px;
  background-color: #2196f3;
  color: black;
  opacity: 70%;
  }

  #two:hover{
  background-color: #f44336;
  color: white;
  opacity: 50%
  }




#foot{
  display: inline-block;
  background-color: #9b3e3e;
  font-size: 1.5rem;
  padding: 10px;
  border: 0px;
  box-shadow: black 5px 8px 5px;
}

#restart{
  float:right;
  display: inline-block;
  background-color: #9b3e3e;
  font-size: 1.5rem;
  padding: 10px;
  border: 0px;
  box-shadow: black 5px 8px 5px;
}

#hideform{
  display:none;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
form {
  font-size: x-large;
  background-color: #9b2222;
  color: white;
  padding: 0 75px;
  text-align: left;
  text-decoration: ;
  display: block;
  z-index: 10;
  position: fixed;
  margin-inline-start: 200px;
  margin-block-start: 200px;
